.wrapper{
  text-align: center;
  margin-top: 100px;
}
.images{
  margin-top: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.image-list{
  width: 100%;
  list-style: none;
}

.image-wrapper{
  width: 190px;
  height: 190px;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  padding: 20px 20px 33px;
  margin: 0 auto;
}

img{
  width: 100%;
  max-height: 190px;
  animation-name: dropdown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.likes{
  width: 100%;
  position: absolute;
  top: 216px;
  left: -37px;
  text-align: right;
  animation-name: fadein;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;
}

@keyframes fadein{
  0%   {opacity: 0}
  100% {opacity: 1}
}

@keyframes dropdown{
  0%   {transform: translateY(-100px);}
  100% {transform: translateY(0);}
}

footer{
  margin-top: 100px;
  a{
    text-decoration: none;
  }
}

@media (min-width: 600px){
  .image-list{
    width: 49%;
    float: left;
  }
}

@media (min-width:900px){
  .image-list{
     width: 33%;
  }
}

@media (min-width: 1200px){
  .image-list{
     width:24%;
  }
}
