<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>instagallery Angular 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="app/app.css">
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>   
    <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="node_modules/rxjs/bundles/Rx.js"></script>
    <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="node_modules/angular2/bundles/router.dev.js"></script>
    <script src="node_modules/angular2/bundles/http.dev.js"></script>
    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        packages: {        
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('app/main')
            .then(null, console.error.bind(console));
    </script>
    
  </head>
  
  <!-- 3. Display the application -->
  <body>
    <insta-app>Loading...</inst-app>
  </body>
  
  <!--<div ng-controller="mainCtrl as main" class="wrapper">
    <div class="container">
      <h1>Instagallery</h1>
      <input type="text" ng-model="main.hashtag" name="hashtag" placeholder="input a hashtag">
      <button ng-click="main.search()" class="button">Search</button>
      <ul class="images">
        <li ng-repeat="hashtag in main.hashtags" class="image-list">
          <div class="image-wrapper"><a href="{{hashtag.link}}" class="image-link"><img ng-src="{{hashtag.images.low_resolution.url}}" class="image"><span class="likes">&#10084; {{hashtag.likes.count}}</span></a></div>
        </li>
      </ul>
    </div>-->
    <footer>
      <p>design&nbsp;<a href="http://echoyu.com">&#10084;&nbsp;</a>with Echo</p>
    </footer>
  </div>

</html>