doctype html
html(ng-app="instapp")
  head
    title instagallery
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.2/angular.min.js')
    // inject:css
    // endinject
  body(ng-cloak)
  div.wrapper(ng-controller="mainCtrl as main")
    div.container
      h1 Instagallery
      input(
        type="text"
        ng-model="main.hashtag"
        name="hashtag"
        placeholder="input a hashtag"
      )
      button.button(ng-click="main.search()") Search
      ul.images
        li.image-list(ng-repeat="hashtag in main.hashtags")
          div.image-wrapper
            a.image-link(href="{{hashtag.link}}")
              img.image(ng-src="{{hashtag.images.low_resolution.url}}")
              span.likes &#10084; {{hashtag.likes.count}}
    footer
      p
        | design&nbsp;
        a(href="http://echoyu.com") &#10084;&nbsp;
        | with Echo
  // inject:js
  // endinject
